.checkout-container {
  width: 100%;
  padding: 5rem;
  .checkout-main {
    width: 100%;
    margin-top: 2.5rem;
    display: flex;
    .checkout-left {
      width: 50%;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      h1 {
        width: 100%;
        font-size: 2rem;
        font-weight: 700;
      }
      padding: 0.5rem 1rem;
      border-right: 1px solid gray;
      input {
        color: black;
        width: 100%;
        height: 2.5rem;
        font-size: 1.05rem;
        padding: 0.5rem 1rem;
        border-radius: 0.25rem;
        background-color: rgb(228, 228, 228);
        &:focus {
          outline: none;
        }
      }
    }
    .checkout-right {
      width: 50%;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      align-items: start;
      //   justify-content: ;
      padding: 0 1rem;
      .coupons {
        width: 100%;
        // background-color: red;
        display: flex;
        justify-content: space-around;
        gap: -2rem;
        align-items: center;
        input {
          color: black;
          width: 50%;
          height: 2.5rem;
          font-size: 1.05rem;
          padding: 0.5rem 1rem;
          border-radius: 0.25rem;
          border: 1px solid black;
          //   background-color: rgb(228, 228, 228);
          &:focus {
            outline: none;
          }
        }
        button {
          width: 40%;
          background-color: rgb(88, 88, 255);
          border: 1px solid rgb(88, 88, 255);
          color: white;
          font-size: 1.1rem;
          font-weight: 500;
          padding: 0.5rem 1rem;
          border-radius: 0.25rem;
          transition: all 0.1s linear;
          // &:hover {
          //   transform: scale(1.1);
          // }
        }
      }
      .placeOrder {
        width: 100%;
        align-items: center;
        display: flex;
        justify-content: center;
        button {
          background-color: rgb(88, 88, 255);
          border: 1px solid rgb(88, 88, 255);
          color: white;
          font-size: 1.1rem;
          font-weight: 500;
          padding: 0.5rem 1rem;
          border-radius: 0.25rem;
          transition: all 0.1s linear;
          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }
  }
}
