@import url("../styles/about/about.scss");
@import url("../styles/checkout/checkout.scss");
@import url("../styles/fifth/fifthimage.scss");
@import url("../styles/first/carouseldisplay.scss");
@import url("../styles/first/first.scss");
@import url("../styles/first/mainfirstleft.scss");
@import url("../styles/first/mainfirstleftindividual.scss");
@import url("../styles/first/mainherosection.scss");
@import url("../styles/footer/footer.scss");
@import url("../styles/forth/forth.scss");
@import url("../styles/forth/forthproducts.scss");
@import url("../styles/forth/individualcategory.scss");
@import url("../styles/header/allpages.scss");
@import url("../styles/header/cart.scss");
@import url("../styles/header/headercontainer.scss");
@import url("../styles/header/individualelement.scss");
@import url("../styles/header/logo.scss");
@import url("../styles/header/searchNcart.scss");
@import url("../styles/individual-complete-product/individual-complete-product.scss");
@import url("../styles/individualproductdetails/individualproductdetails.scss");
@import url("../styles/maincart/maincart.scss");
@import url("../styles/myaccount/myaccount.scss");
@import url("../styles/second/card.scss");
@import url("../styles/second/sale.scss");
@import url("../styles/second/secondtop.scss");
@import url("../styles/signup/signup.scss");
@import url("../styles/sixth/individualsixth.scss");
@import url("../styles/sixth/sixth.scss");
@import url("../styles/story/story.scss");
@import url("../styles/third/categories.scss");
@import url("../styles/third/individualcategory.scss");
@import url("../styles/third/third.scss");
@import url("../styles/third/thirdtop.scss");
@import url("../styles/universal/universal.scss");
@import url("../styles/verifyEmail/verifyEmail.scss");

//MEDIA QUERY
@import url("../styles/mediaQueries.scss");
@import url("../styles/verifyEmailMediaQuery.scss");
