.firstofmain {
  width: 100%;
  height: fit-content;
  // border: 2px solid green;
  // background-color: red;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
  // background-color: rebeccapurple;
}
.checker {
  padding: 5rem;
  //   background-color: red;
  //   width: 100%;
  display: flex;
  overflow: hidden;
}
.check2 {
  max-width: 600px;
  padding: auto 5rem auto 15rem;
  //   border: 1px solid black;
  //   overflow: hidden;
}
