.cart {
  display: flex;
  position: relative;
  // background-color: #5858ff61;
  a {
    img {
      height: 2rem;
    }
  }
  span {
    font-size: 1.35rem;
    font-weight: 700;
    color: rgb(88, 88, 255);
    position: absolute;
    right: 27%;
    top: -70%;
  }
}
